page-about {

    .item-submit {
        text-align: center;
    }

    .button-submit {
        width: 150px;
        height: 40px !important;
        border-radius: 20px;
        margin-top: 20px;
    }
}