page-home {
    .main-slide{
        overflow-x: scroll;

        .slide-zoom {
            height: inherit;
        }
    }

    .searchBar {
        background: #f8f8f8 !important;

        input{
            box-shadow: none !important;
            border: thin #000 !important;
        }
        
    }
}
